In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
link = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"
pages = 2
data = []

In [ ]:
for p in range(pages):
    url = f"{link}&start={p*50}"
    ack = requests.get(url)
    getdata = BeautifulSoup(ack.content, "html.parser")

    mv = getdata.find_all("div", {"class": "lister-item mode-advanced"})
    for m in mv:
        rank = m.find_all("span", {"name": "nv"})[-1].text.strip("#") if len(m.find_all("span", {"name": "nv"})) > 1 else ""
        name = m.find("h3", {"class": "lister-item-header"}).a.text.strip()
        year = m.find("span", {"class": "lister-item-year"}).text.strip("()")
        rating = m.find("div", {"class": "inline-block ratings-imdb-rating"})["data-value"]
        duration = m.find("span", {"class": "runtime"}).text.strip(" min")
        metascore = m.find("span", {"class": "metascore"}).text.strip() if m.find("span", {"class": "metascore"}) else ""
        directors = [director.text for director in m.find_all("a", {"href": lambda href: href and "/name/" in href})]
        director = directors[0] if len(directors) > 0 else ""

        data.append([rank, name, year, rating, duration, metascore, director])
df = pd.DataFrame(data, columns=["Rank", "Name", "Year", "Rating", "Duration (mins)", "Metascore", "Director"])

In [ ]:
df.head()

,Rank,Name,Year,Rating,Duration (mins),Metascore,Director
0,1,The Shawshank Redemption,1994,9.3,142,82,Frank Darabont
1,2,The Godfather,1972,9.2,175,100,Francis Ford Coppola
2,3,The Dark Knight,2008,9,152,84,Christopher Nolan
3,6,Schindler's List,1993,9,195,95,Oskar Schindler
4,7,The Lord of the Rings: The Return of the King,2003,9,201,94,Peter Jackson